{%- render 'section-spacing-collapsing' -%}

{%- if section.settings.image -%}
  <style>
    #shopify-section-{{ section.id }} {
      {%- if section.settings.background_gradient != blank or section.settings.background != blank and section.settings.background != 'rgba(0,0,0,0)' -%}
        --section-spacing-block: 0px;
      {%- endif -%}

      --section-spacing-inline: 0px;
    }

    {%- if section.settings.full_width -%}
      #shopify-section-{{ section.id }} .section {
        padding-inline-start: 0;
      }
    {%- endif -%}
  </style>
{%- endif -%}

<style>
  .custom-image-fixes{
    max-width:98%;
    border-radius:8px;
  }

 @media screen and (max-width:1700px){
  
  #shopify-section-{{ section.id }} .section {
    padding-left:48px;
      padding-right:48px;
  }
    }
    @media screen and (max-width:999px){
      #shopify-section-{{ section.id }} .section {
        padding-left:32px;
          padding-right:32px;
      }
      .custom-image-fixes{
        max-width:100%;
      }
        }

        @media screen and (max-width:699px){
          #shopify-section-{{ section.id }} .section {
            padding-left:20px;
              padding-right:20px;
          }
        }
  



        #shopify-section-{{ section.id }}  .content-text__custom span{
        display:flex;
        align-items:center;
        gap:14px;
        }
        #shopify-section-{{ section.id }}  .content-text__custom{
        display:flex;
        flex-direction:column;
        gap:15px;
        }
        #shopify-section-{{ section.id }}  .content-text__custom svg{
        min-width:17px;
        min-height:16px;
        }
        #shopify-section-{{ section.id }} .heading-text__custom{
        font-size:{{section.settings.heading_font_size}}px;
        color:{{section.settings.heading_color}};
        
        }
      
        #shopify-section-{{ section.id }} .content-text__custom{
          font-size:{{section.settings.content_font_size}}px;
          color:{{section.settings.content_color}};
          font-weight:bold;
        }
      
        @media screen and (max-width:701px){
          #shopify-section-{{ section.id }} .heading-text__custom{
            font-size:{{section.settings.heading_font_size_mobile}}px;
          }
      
          #shopify-section-{{ section.id }} .content-text__custom{
            font-size:{{section.settings.content_font_size_mobile}}px;
          }
        }
      

</style>

{%- capture newsletter_content -%}
  <div class="newsletter-content {% unless section.settings.image %}text-center justify-items-center{% endunless %}">
    {%- if section.settings.show_icon -%}
      {%- render 'icon' with 'picto-at-sign', width: 32, height: 32, class: 'newsletter-content__icon' -%}
    {%- endif -%}

    {%- if section.settings.title != blank or section.settings.content -%}
      <div class="prose">
        {%- if section.settings.title != blank -%}
          <h2 class="h2 heading-text__custom">{{ section.settings.title }}</h2>
        {%- endif -%}
      <div class="content-text__custom">  
     <span><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.7071 8.70711C17.0976 8.31658 17.0976 7.68342 16.7071 7.29289L10.3431 0.928932C9.95262 0.538408 9.31946 0.538408 8.92893 0.928932C8.53841 1.31946 8.53841 1.95262 8.92893 2.34315L14.5858 8L8.92893 13.6569C8.53841 14.0474 8.53841 14.6805 8.92893 15.0711C9.31946 15.4616 9.95262 15.4616 10.3431 15.0711L16.7071 8.70711ZM0 9H16V7H0V9Z" fill="#8BAD75"></path> </svg>  {{- section.settings.content_1 -}}</span>
     <span><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.7071 8.70711C17.0976 8.31658 17.0976 7.68342 16.7071 7.29289L10.3431 0.928932C9.95262 0.538408 9.31946 0.538408 8.92893 0.928932C8.53841 1.31946 8.53841 1.95262 8.92893 2.34315L14.5858 8L8.92893 13.6569C8.53841 14.0474 8.53841 14.6805 8.92893 15.0711C9.31946 15.4616 9.95262 15.4616 10.3431 15.0711L16.7071 8.70711ZM0 9H16V7H0V9Z" fill="#8BAD75"></path> </svg> {{- section.settings.content_2 -}}</span>
     <span><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.7071 8.70711C17.0976 8.31658 17.0976 7.68342 16.7071 7.29289L10.3431 0.928932C9.95262 0.538408 9.31946 0.538408 8.92893 0.928932C8.53841 1.31946 8.53841 1.95262 8.92893 2.34315L14.5858 8L8.92893 13.6569C8.53841 14.0474 8.53841 14.6805 8.92893 15.0711C9.31946 15.4616 9.95262 15.4616 10.3431 15.0711L16.7071 8.70711ZM0 9H16V7H0V9Z" fill="#8BAD75"></path> </svg> {{- section.settings.content_3 -}}</span>
        </div>      
      </div>
    {%- endif -%}

    {%- assign newsletter_form_id = 'newsletter-form-' | append: section.id -%}

    {%- form 'customer', id: newsletter_form_id, class: 'form' -%}
      {%- if form.posted_successfully? -%}
        {%- assign success_message = 'general.newsletter.subscribed_successfully' | t -%}
        {%- render 'banner', content: success_message, status: 'success' -%}
      {%- else -%}
        {%- if form.errors -%}
          {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
          {%- render 'banner', content: error_message, status: 'error' -%}
        {%- endif -%}

        <input type="hidden" name="contact[tags]" value="newsletter">

        <div class="fieldset-with-submit">
          {%- capture label -%}{{ 'general.newsletter.email' | t }}{%- endcapture -%}
          {%- render 'input', name: 'contact[email]', label: label, type: 'email', required: true, autocomplete: 'email', enterkeyhint: 'send' -%}
          {%- render 'button', type: 'submit', content: section.settings.button_text, size: 'xl', icon: 'picto-envelope', background: section.settings.button_background, text_color: section.settings.button_text_color -%}
        </div>
      {%- endif -%}

      {%- if section.settings.subtext != blank -%}
        <p class="text-xs text-subdued">{{ section.settings.subtext | escape }}</p>
      {%- endif -%}
    {%- endform -%}
  </div>
{%- endcapture -%}

<div {% render 'section-properties' %}>
  {%- if section.settings.image != blank -%}
    <div class="newsletter newsletter-custom">
      {%- capture sizes -%}(max-width: 999px) 100vw, min(50vw, {{ settings.page_width }}px / 2){%- endcapture -%}
      {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, class: 'h-full object-cover custom-image-fixes' -}}

      <div {% render 'surface', class: 'newsletter-box', background: section.settings.background, background_gradient: section.settings.background_gradient, background_fallback: 'bg-secondary', text_color: section.settings.text_color %}>
        {{- newsletter_content -}}
      </div>
    </div>
  </div>
{%- else -%}
  {{- newsletter_content -}}
{%- endif -%}

{% schema %}
{
  "name": "Newsletter MOD",
  "class": "shopify-section--newsletter",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1500 x 1000px .jpg recommended"
    },
    {
      "type": "checkbox",
      "id": "show_icon",
      "label": "Show icon",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Newsletter"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "Heading font size",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 26
    },
    {
      "type": "range",
      "id": "heading_font_size_mobile",
      "label": "Heading font size mobile",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 26
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "content_1",
      "label": "Content 1",
      "default": "Profitiere von tollen Angeboten"
    },
    {
      "type": "text",
      "id": "content_2",
      "label": "Content 2",
      "default": "Erhalte Tipps und Tricks rund um die Teezubereitung"
    },
    {
      "type": "text",
      "id": "content_3",
      "label": "Content 3",
      "default": "Bekomme exklusive Vorabinfos zu neuen Produkten"
    },
    {
      "type": "range",
      "id": "content_font_size",
      "label": "Content font size",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "content_font_size_mobile",
      "label": "Content font size mobile",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 15
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button",
      "default": "Subscribe"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Subtext"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color"
    }
  ],
  "presets": [
    {
      "name": "Newsletter MOD"
    }
  ]
}
{% endschema %}